helping_tools
P1_html_css/L1-basics/mini_project1/testing.html
P1_html_css/L1-basics/mini_project1/.vscode/
P1_html_css/.vscode/
P1_html_css/L1-basics/mini_project1/ideas.html
P1_html_css/L1-basics/mini_project1/backend/node_modules/
P1_html_css/L1-basics/mini_project1/backend/package-lock.json
P1_html_css/L1-basics/mini_project1/backend/.env
P1_html_css/L1-basics/mini_project1/backend/likes.json
P1_html_css/L1-basics/mini_project1/copy 
P2_javascript/mini_project3/package-lock.json
P2_javascript/mini_project3/node_modules
P3_React_Tailwind/my-app/package-lock.json



g
