* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", system-ui, sans-serif;
  /* background: #3a0268f5; */
  background: linear-gradient(to bottom, #012e3d 0%, #0e274a 100%);

  scroll-behavior: smooth;
}

/* header and navbar work */
header {
  margin: 0;
  top: 0;
  /* /* border: 2px solid red; */
  height: 79px;
  padding: 0 10px;
  position: sticky;
  z-index: 1000;
  opacity: 0.9;
  backdrop-filter: blur(10px);
}
/* nav me ul ko end pe phnk dia ha meny */
nav {
  /* border: 2px solid green; */
  margin-top: 5px;
  border-left: 2px solid rgb(13, 251, 255);
  border-bottom: 2px solid rgb(13, 251, 255);
  border-bottom-left-radius: 21px;
  border-right: 2px solid rgb(13, 251, 255);
  border-bottom-right-radius: 21px;
  border-top: 2px solid #0a0f1e;
  background-color: #0a0f1e;
  box-shadow: 0 1px 12px #0afff0;
}
.port {
  color: #00eeff;
  /* border: 2px solid yellow; */
  position: absolute;
  left: 50px;
  top: 15px;
  font-size: 1.5rem;
  font-weight: 800;
  /* font-family: "Roboto Slab", serif; */
  letter-spacing: 0.15em;
  /* text-decoration: underline; */
  line-height: 1.5;
}
.nav_list {
  /* border: 2px solid rgb(216, 168, 7); */
  position: relative;
  display: flex;
  width: 210px;
  left: 900px;
  padding: 10px 10px;
  justify-content: space-between;
  height: 55px;
}
.nav_list li {
  list-style: none;
  margin: 2px 10px;
}
.nav_list a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: aliceblue;
  position: relative;
  transition: all 0.3s ease-in-out;
  /* border: 2px solid red; */
  width: 59px;
}
a::before {
  content: "";
  position: absolute;
  top: 25px;
  width: 0; /* Initial width */
  border-bottom: 1px solid #0afff0;
  left: 0;
  /* Apply animation to ::before pseudo-element */
}

.nav_list a:hover::before {
  animation: liner 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes liner {
  0% {
    width: 0;
  }
  /* 50%{
        width: 80%;
    } */
  100% {
    width: 100%;
  }
}
.nav_list a:hover {
  color: #0afff0;
  position: relative;

  box-shadow: 0 0 7px #0afff0;
}

section {
  max-width: 1400px;
}

/* MAIN SECTION WORK */

.main {
  /* border: 2px solid red; */
  min-height: 80vh;
  position: relative;
  padding: 5px 5px;
  margin: 0 5px;
  position: relative;
  max-width: 1400px;
}

.badge {
  position: relative;
  display: inline-block;
  color: #0afff0;
  background-color: #0a0f1e;
  width: 280px;
  height: 31px;
  padding: 5px 5px;
  text-align: right;
  left: 10px;
  margin: 5px 2px;
  overflow: hidden;

  z-index: -1000;
}
.badge::before {
  content: "";
  position: absolute;
  height: 80px;
  background-color: #0afff0;
  width: 10px;
  top: 2px;
  left: 0;
  /* box-shadow: inset 0 2px 44px rgba(113, 121, 7, 0.849); */
}
.hi {
  color: aliceblue;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  top: 90px;
  left: 10px;
}
.heading {
  position: absolute;
  /* border: 2px solid rgb(8, 8, 35); */
  display: inline-block;
  /* font-family: 'Press Start 2P', cursive; */
  font-family: "Roboto Slab", serif;
  font-size: 3.5rem;
  font-weight: 900;
  font-variant: small-caps;
  color: aliceblue;
  letter-spacing: 0.15em;
  top: 72px;
  left: 170px;
  padding: 2px 2px;
  width: 300px;
  text-align: center;
  background: #1a2a3a;
  overflow: hidden;
  border-radius: 50px;
  opacity: 0.9;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.52),
    0 1px 2px rgba(0, 0, 0, 0.9),
    0 10px 20px rgba(0, 0, 0, 0.05);
  background: linear-gradient(135deg, #f8f8f8, #00eeff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 800;
  line-height: 1.2;
}

.heading::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10;
  width: 0;
  height: 100%;
  /* border: 2px solid #6b7978; */
  /* border-radius: 50px; */
  height: 54px;
  width: 40px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.21));
  left: 0;
  top: 2px;
  height: 100px;
  transform: translate(1px);
  z-index: -1;
  animation: shine 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite forwards;
}
@keyframes shine {
  0% {
    transform: translate(0px);
    width: 80px;
    opacity: 1;
  }
  /* 50%{
        transform: translate( 100px);
        opacity: 1;
    
       
    } */
  100% {
    transform: translate(300px);
    opacity: 0.9;
    overflow: hidden;
  }
}

.liss {
  /* border: 2px solid green; */
  position: absolute;
  padding: 2px 16px;
  display: flex;
  justify-content: space-between;
  /* gap: 1px; */
  width: 200px;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2;
  top: 180px;
  left: -10px;
}
.liss li {
  /* border: 2px solid red; */
  margin: 2px 10px;
  list-style: none;
  background: linear-gradient(135deg, #0affb3, #00fffb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* main card working */
.main_card {
  position: relative;
  /* border: 2px solid #0afff0; */
  display: inline-block;
  left: 350px;
  height: 70vh;
  width: 590px;
  border-left: 2px solid rgb(13, 251, 255);
  border-bottom: 2px solid rgb(13, 251, 255);
  border-right: 2px solid rgb(13, 251, 255);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  /* border-top: 2px solid #0ad2e8; */
  /* background-color: #0a0f1e; */
  box-shadow: 0 5px 15px #0afff0;
  transform: scale(1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Thora bounce effect */
  /* max-width: 500px; */
}
.main_card:hover {
  transform: scale(1.011);
  cursor: pointer;
  box-shadow:
    10px 15px 3px rgba(0, 0, 0, 0.52),
    0 10px 2px rgba(0, 0, 0, 0.9);
}
.main p {
  position: relative;
  color: #a0b2d0;
  max-width: 500px;
  bottom: 140px;
}

#b1 {
  border: 1px solid #00fffb;
  height: 50px;
  width: 150px;
  position: absolute;
  background-color: #00fffbdc;
  box-shadow: 0 1px 10px rgb(14, 217, 236);
  font-family: "Press Start 2P", cursive;
  top: -100px;
  left: 50px;
  font-size: 1rem;
  /* opacity: 0.9; */
  transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#b1:hover {
  cursor: crosshair;
  cursor: pointer;
  box-shadow: 1px 1px 25px rgb(14, 217, 236);
}
#b1:active {
  transform: scale(0.9);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.457);
}
#b2 {
  position: absolute;
  top: -100px;
  left: 250px;
  height: 50px;
  width: 150px;
  background-color: transparent;
  color: white;
  font-family: "Press Start 2P", cursive;
  border: 2px solid #00fffb;
  font-size: 1rem;
  font-weight: 600;
  animation: pump 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite forwards;
}
#b2::before {
  content: "";
  position: absolute;
  height: 53px;
  width: 155px;
  width: 0;
  border: 2px solid #00eeff;
  transform: scale(0);
  left: -3px;
  top: -5px;
  animation: glow 1.2s ease-in infinite forwards;
  /* transform: scale(1.1); */
}
@keyframes pump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes glow {
  0% {
    transform: scale(1);
    width: 100%;
  }
  50% {
    transform: scale(1.08);
    /* opacity: 0.5; */
    border-color: #0affb3;
    width: 100%;
  }
  100% {
    transform: scale(1.08);
    width: 100%;
    display: none;
    opacity: 0;
  }
}
#b2:hover {
  background-color: #0affb3;
  color: #012e3d;
  box-shadow: inset;
  cursor: crosshair;
  font-weight: 500;
}
/* #b2:active{
  
} */

/* section main 2 work from here  */
.main2 {
  position: relative;
  border: 2px solid red;
  min-height: 110vh;
  max-width: 1400px;
  margin: 12px 2px;
  display: flex;
  justify-content: space-between;
}

.main_card2 {
  position: absolute;
  /* border: 2px solid #0afff0; */
  display: inline-block;
  top: 130px;
  left: 30px;
  height: 70vh;
  width: 490px;
  border-left: 2px solid rgb(13, 251, 255);
  border-bottom: 2px solid rgb(13, 251, 255);
  border-right: 2px solid rgb(13, 251, 255);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  /* border-top: 2px solid #0ad2e8; */
  /* background-color: #0a0f1e; */
  box-shadow: 0 5px 15px #0afff0;
  transform: scale(1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Thora bounce effect */
  /* max-width: 500px; */
}
.main_card2:hover {
  transform: scale(1.011);
  cursor: pointer;
  box-shadow:
    10px 15px 3px rgba(0, 0, 0, 0.52),
    0 10px 2px rgba(0, 0, 0, 0.9);
}

.para {
  border: 2px solid red;
  display: inline-block;
  position: absolute;
  /* word-break: break-word; */
  color: aliceblue;
  background-color: #0a0f1e;
  border-radius: 20px;
  height: 420px;
  text-align: start;
  padding: 10px 10px;
  /* background: rgba(255, 255, 255, 0.066);  */
  backdrop-filter: blur(10px); /* Background image ko thora dhundla kar dega */
  border: 1px solid rgba(255, 255, 255, 0.646); /* Padd*/
  bottom: 40px;
  width: 680px;
  left: 550px;
  top: 100px;
}
.main2 p {
  margin: 15px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.05em;
}
.fafa {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  left: 520px;
  top: 20px;
  color: aliceblue;
  overflow: hidden;
  font-size: 2.6rem;
}
.fafa span:last-child {
  color: #00eeff;
  margin-left: 15px;
}

.fafa::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  width: 50%;
  border-bottom: 2px solid #00eeff;
  animation: linepassing 0.9s ease-in-out infinite forwards;
}
@keyframes linepassing {
  0% {
    transform: translateX(0);
  }
  /* 50%{
        transform: translate(100px);
    } */
  100% {
    transform: translateX(220px);
  }
}

/* section main 3 work from here  */
.main3 {
  position: relative;
  border: 2px solid rgb(217, 255, 0);
  min-height: 110vh;
  max-width: 1400px;
  margin: 10px 2px;
}

.heading2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  color: #ffffff;
  bottom: 560px;
  right: 500px;
  /* text-decoration: underline; */
  font-size: 2.6rem;
}
.heading2 span:last-child {
  color: #00eeff;
  margin-left: 15px;
}

.m3_bar {
  /* border: 2px solid green; */
  position: absolute;
  padding: 2px 16px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 500px;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.2;
  top: 80px;
  left: 450px;
  justify-content: space-between;
  align-items: center;
}

.m3_bar li:first-child {
  border: 1px solid #00fffb;
  height: 50px;
  width: 150px;
  position: absolute;
  background-color: #00fffbdc;
  box-shadow:
    0 1px 10px rgb(14, 217, 236),
    0 12px 10px black;
  font-family: "Press Start 2P", cursive;
  top: 0;
  left: -160px;
  font-size: 1rem;
  color: black;
  /* opacity: 0.9; */
  transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.m3_bar li {
  margin: 2px 5px;
  list-style: none;
  border: 1px solid #00eeff;
  padding: 15px 15px;
  width: 180px;
  height: 45px;
  text-align: center;
  background-color: #0a0f1e;
  color: aliceblue;
}
.m3_bar li:hover {
  background-color: #00fffbdc;
  cursor: crosshair;
  color: #0a0f1e;
  box-shadow: 1px 1px 25px rgb(14, 217, 236);
}
.m3_bar li:first-child:hover {
  cursor: pointer;
  box-shadow: 1px 1px 25px rgb(14, 217, 236);
}

.container {
  border: 2px solid pink;
  position: relative;
  display: grid;
  /* Ek column 2 hissay lega, baaki 2 ek-ek hissa */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(150px, auto);
  gap: 25px;
  width: 100%;
  max-width: 1400px;
  top: 170px;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  min-height: 55vh;
}

.item {
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  border: 1px solid #00eeff;
  padding: 20px;
  color: white;
  border: 2px solid red;
  border: 1px solid #00fffb;
  min-height: 150px;
  text-align: start;
  padding: 25px 25px;
  /* max-width: 1200px; */
  /* top: 50px; */
  transform: scale(1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.item:hover {
  box-shadow: 1px 1px 25px rgb(14, 217, 236);
  transform: scale(1.02);
  cursor: pointer;
}
.item h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #0affb3;
}
.item p {
  color: #a0b2d0;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Segoe UI", system-ui, sans-serif;
  font-size: 1.1rem;
  margin: 15px 5px;
  /* border: 2px solid blue; */
  font-weight: 300;
}

.item .smilo {
  display: inline-block;
  /* border: 1px solid red; */
  background-color: #1f2a3e;
  font-family: monospace;
  margin: 0 12px;
  padding: 5px 5px;
  font-weight: 100;
  min-width: 50px;
  min-height: 10px;
  text-align: center;
}
.itm_btn button {
  border: 1px solid #00eeff;
  background-color: #012e3d;
  color: #00eeff;
  width: 100px;
  min-height: 20px;
  min-width: 40px;
  position: absolute;
  left: 250px;
  top: 155px;
}
.itm_btn button:hover {
  background-color: #00eeff;
  color: #012e3d;
  box-shadow: 1px 1px 25px rgb(14, 217, 236);
  cursor: pointer;
}
.smilo a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}
.smilo a:hover {
  color: #0afff0;
  position: relative;

  /* box-shadow: 0 0 7px #0afff0; */
}

/* mian4 section work from here  */
.main4 {
  position: relative;
  border: 2px solid red;
  min-height: 80vh;
  max-width: 1400px;
  margin: 20px 2px;
}

.heading3 {
  /* border: 2px solid yellow; */
  position: relative;
  left: 500px;
  top: 40px;
  width: 210px;
  height: 100px;
  font-size: 2.8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: aliceblue;
  overflow: hidden;
}
.heading3 span:last-child {
  color: #00eeff;
  margin-left: 15px;
}

.heading3::before {
  content: "";
  position: absolute;
  /* border: 2px solid green; */
  left: -10;
  top: 60px;
  width: 40%;
  border-bottom: 2px solid #00eeff;
  animation: linepassing 0.9s ease-in-out infinite forwards;
}
@keyframes linepassing {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(220px);
  }
}

.container2 {
  top: 150px;
  position: absolute;
  border: 2px solid green;
  display: flex;
  left: 10px;
  height: 250px;
  padding: 10px 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.container2 .skill-badge {
  border: 2px solid #00eeff;
  background-color: #0a0f1e;
  /* width: 100%; */
  min-width: 200px;
  min-height: 50px;
  margin: 15px 15px;
  padding: 20px 16px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: aliceblue;
}

.container2 .skill-badge:hover {
  background-color: #00eeff;
  color: #0a0f1e;
  box-shadow: 1px 1px 25px rgb(14, 217, 236);
  cursor: pointer;
}
.main5 {
  position: relative;
  border: 2px solid red;
  min-height: 70vh;
  max-width: 1400px;
  margin: 20px 2px;
}
.main6 {
  position: relative;
  border: 2px solid red;
  min-height: 120vh;
  max-width: 1400px;
  margin: 5px 2px;
}
.main6 .main_card3 {
  position: absolute;
  /* border: 2px solid #0afff0; */
  display: inline-block;
  top: 150px;
  left: 30px;
  height: 75vh;
  width: 550px;
  border-left: 2px solid rgb(13, 251, 255);
  border-bottom: 2px solid rgb(13, 251, 255);
  border-right: 2px solid rgb(13, 251, 255);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  /* overflow: hidden; */
  /* border-top: 2px solid #0ad2e8; */
  /* background-color: #0a0f1e; */
  box-shadow: 0 5px 15px #0afff0;
  transform: scale(1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Thora bounce effect */
  /* max-width: 500px; */
  z-index: 10;
}
.main6 .main_card3:hover {
  transform: scale(1.011);
  cursor: pointer;
  box-shadow:
    10px 15px 3px rgba(0, 0, 0, 0.52),
    0 10px 2px rgba(0, 0, 0, 0.9);
    z-index: 20;
}

.main6 .para1 {
  border: 2px solid red;
  display: inline-block;
  position: absolute;
  /* word-break: break-word; */
  color: aliceblue;
  background-color: #0a0f1e;
  border-radius: 20px;
  height: 480px;
  text-align: start;
  padding: 10px 10px;
  /* background: rgba(255, 255, 255, 0.066);  */
  backdrop-filter: blur(10px); /* Background image ko thora dhundla kar dega */
  border: 1px solid rgba(255, 255, 255, 0.189); /* Padd*/
  bottom: 40px;
  width: 600px;
  left: 610px;
  top: 145px;
  box-shadow:
    inset 10px 10px 10px black,
    inset -10px -10px 10px black;
    z-index: -10;
}

.main6 .main_card3 form {
  /* border: 2px solid black; */
  border-radius: 25px;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  position: relative;
  min-height: 100px;
 min-width: 50px;
 max-width: 500px;
  left: 20px;
  top: 10px;
  backdrop-filter: blur(10px); /* Background image ko thora dhundla kar dega */
  background: rgba(181, 170, 170, 0.1);
  backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  padding: 25px 10px;
    
}

.main_card3 form #name{
    /* display: inline-block; */
    min-width: 400px;
    max-width: 500px;
    margin: 10px 10px;
    height: 30px;
    text-align: center;
} 

#email{
     min-width: 400px;
    max-width: 500px;
    margin: 10px 10px;
    height: 30px;
    text-align: center;
}
#text-area{
    min-width: 400px;
    max-width: 500px;
    margin: 10px 10px;
    min-height: 100px;  
    padding: 10px 10px; 

}
label{
    color: #a0b2d0;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Segoe UI", system-ui, sans-serif;
  font-size: 1.1rem;
  /* margin: 15px 5px; */
  /* border: 2px solid blue; */
  font-weight: 800;
}
input{
    border: 1px solid #012e3d;
    background-color: #0e274a;
    color: #00eeff;
    border-radius: 10px;
}
textarea{
    border: 1px solid #012e3d;
    background-color: #0e274a;
    color: #00eeff;
    border-radius: 10px;
}
.main_card3 form #b3{
 border: 1px solid #00fffb;
  height: 30px;
  width: 150px;
  /* position: absolute; */
  background-color: #00fffbdc;
  box-shadow: 0 1px 10px rgb(14, 217, 236);
  font-family: "Press Start 2P", cursive;
  margin-top: 5px;
  
  font-size: 1rem;
  /* opacity: 0.9; */
  transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.main_card3 form #b3:hover {
  cursor: crosshair;
  cursor: pointer;
  box-shadow: 1px 1px 25px rgb(14, 217, 236);
}
.main_card3 form #b3:active {
  transform: scale(0.9);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.457);
}
.main6 .heading4{
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  color: #ffffff;
  left:450px;
  width: 250px;
  height: 60px;
  /* border: 2px solid firebrick; */

  /* text-decoration: underline; */
  font-size: 2.2rem;
  overflow: hidden;      
}

.main6 .heading4 span:last-child {
  color: #00eeff;
  margin-left: 15px;
}

.main6 .heading4::before{
    content: '';
    /* border: 2px solid yellow; */
    width: 50%;
    position: absolute;
    left: 0;
    top:50px;
    border-bottom: 2px solid #00eeff;
     animation: linepassing 0.9s ease-in-out infinite forwards;
}
@keyframes linepassing {
  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(268px);
  }
}

    
.main6 .para2{
    /* border: 2px solid green; */
    color: #a0b2d0;
    position: absolute;
    text-align: center;
    letter-spacing: 0.1rem;
    width: 50%;
    left: 350px;
    margin: 5px 5px;
    /* white-space: wrap; */
}
.para1 h2{
    /* position: relative; */
    margin: 15px 15px;
    font-size: 2.2rem;
}

.para1 p{
     margin: 15px 15px;
}

.para1 .card{
 border: 1px solid rgba(255, 255, 255, 0.3);
 padding: 5px 5px;
 margin: 5px 5px;
}
.para1 .card span:first-child{
    font-weight: 800;
}
.para1 .card span{
    margin: 3px 3px;
    display: block;
}
.para1 .cardi{
    margin: 15px 5px;
    font-weight: 600;
    font-size: 1.5rem;

}
footer {
    position: relative;
  height: 50vh;
  background-color: #0a0f1e;
}
footer .container2{
    position: absolute;
    border: 2px solid yellow;
    top: 0;

}
 footer .container2 .con p{
    border: 2px solid green;
    position: relative;
  color: #a0b2d0;
    max-width: 300px;
    min-height: 80px;
    margin: 10px 10px;
    left: 10px;
 }
 footer .container2 .con2 {
    border: 2px solid green;
    text-decoration: none;
    position: relative;
    max-width: 300px;
    min-height: 80px;
    margin: 10px 10px;
    left: 150px;
    display: flex;
    top: 20px;
    flex-direction: column;
}
 
 footer .container2 .con2 h2{
   color: aliceblue;
   font-size: 1.4rem;
}
 footer .container2 .con2 a{
   color: #a0b2d0;
   font-size: 1rem;
   margin: 8px 1px;
   text-decoration: none;
}
 
  footer .container2 .con3 h2{
   color: aliceblue;
   font-size: 1.4rem;
}
 footer .container2 .con3{
  border: 2px solid green;
    text-decoration: none;
    position: relative;
    max-width: 300px;
    min-height: 80px;
    margin: 10px 10px;
    left: 350px;
    display: flex;
    top: 40px;
    flex-direction: column; 
}

 .f span:first-child{
    display: block;
    font-weight: 500;
    color: #00eeff;
    margin: 5px 5px;
}
.f span:last-child{
    color: #a0b2d0;
}
footer .fp{
    color: #a0b2d0;
    margin-top: 240px;
}
 