*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Takes full height of the screen */
  margin: 0;
}
body::before {
    content: "";
    position: fixed; /* Poori screen par fix rahega */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpapercave.com/wp/wp14777935.jpg'),url('/Task_2/marvels-spider-man-2-game-4k-sl-3840x2400.jpg'); /* Yahan apni image ka link dein */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9; /* Is value ko kam ya zyada kar ke transparency set karein (0.1 se 0.3 best hai) */
    z-index: -1; /* Ye image ko content ke peechay rakhega */
}

main { 
  flex-grow: 1; /* Ye footer ko nichay push kar dega */
  max-width: 1600px;
  margin: 40px auto;
  width: 100%; 
}

header{
    /* border: 2px solid red; */
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    height: 90px;
    background:  #00204a;
     /* background: rgba(255, 255, 255, 0.85);  */
    backdrop-filter: blur(20px);
    

}
header h1{
    font-size: 2rem;
    color: rgb(122, 115, 115);
    position: relative;
    display: inline-block;
    left: 10px;
    padding: 2px 12px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 -1px 2px 5px #ffffff20;
    z-index: 1;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    
    
}


/* before  ka  use  kiya jis me ya ha ke element ko kesy gusrna  bhar nikal na lift krna ha  back line pass */


h1::before{
 content: '';
 position: absolute;
 /* width: 100%; */
 /* background-color: #155263; */
 z-index: -1;
 border-radius: 100px;
 top: -5px;
 left: -15px;
 height: 100%;
 border: 5px solid rgba(9, 174, 196, 0.5);
 width: 100%;
 overflow: hidden;
 transform: scale(0);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Thora bounce effect */
  /* transform: scaleX(0);
  transition: all 0.3s ease; */
}

    
header h1:hover::before{
    
    transform: scale(1.1);
    transform: translateX(10px);
    opacity: 1;
  
    
}
header h1:hover{
   color: rgb(246, 248, 240);
   transform: translateY(-5px);
   transform: scale(1.05);
    
}
nav ul{
    /* border: 2px solid red; */
    display: flex;
    padding: 3px 3px;
    margin: 3px 3px;
    font-size: 18px;
    letter-spacing: 0.15em;
    border-radius: 100px;
    height: 40px;
  

}
li{
    margin: 2px 19px;
     list-style: none;
    transition: all 0.3s ease;
    
}
a{
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
    position: relative;
    z-index: 1;
    /* border: 2px solid green; */
    padding: 5px 5px;
    transition: all 0.5s ease-in-out;
}
a::before{
    content: '';
    position: absolute;
    width: 100%;
    /* background-color: #155263; */
    border-radius: 25px;
    height: 100%;
    box-shadow: 0 0 0 px #ffffff20;
     top: 1px;
     right: 1px;
     z-index: -1;
     transform: scale(0);
     transition: all 0.3s ease;}
a:hover::before{
    transform: scale(1);
    background-color: #09aec4;
 
    box-shadow: 0 1px 1px 3px #ffffff20;
}a:hover{
   transform: translateY(-5px);

}

.section1{
    position: relative;
    /* border: 2px solid red; */
    padding: 10px 10px;
    /* height: 100vh; */
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,minmax(300px,1fr));
    margin: 0 10px;
    left: 0;
    gap: 15px;
    /* grid-template-rows: repeat(3,auto); */
    width: 100%;top: -1PX;

}

.card {
    position: relative;
    background: rgba(181, 170, 170, 0.1); 
    backdrop-filter: blur(10px); /* Background image ko thora dhundla kar dega */
    z-index: 10;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 20px;
    text-align: center;
    height: 500px;
    max-width: 600px;    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    
}
h3{ 
    position: absolute;
    /* border: 2px solid red; */
    top: 230px;
    left: 20px;
    font-weight: bold;
    font-size: 33px;
    margin: 2px 2px;
    font-weight: 500;
    color: #00204a;
}
img{
 width: 345px;
 height: 200px;
 border: 1px solid rgba(255, 255, 255, 0.3);
 border-radius: 25px;
 opacity: 0.6;
 transform: translate(1);
 transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
img:hover{
    transform: scale(1.05);
    opacity: 1;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.img:hover{
      box-shadow:  -3px 25px 1px rgba(0, 0, 0, 0.1) ;
     border-radius: 25px;
}
.para{
 position: absolute;
 /* border: 2px solid green; */
width: 100%;
 margin: 20px 20px;
 text-align: start;
 padding: 1px 1px;
 top: 265px;
 left: 1px;
 
}
.state-list{
    display: flex;
    flex-wrap: wrap;
}
.state-list li{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #b5bbc2;
    gap: 20px 20px;
    margin: 10px;
}
 li span:first-child {
    font-weight: bold; /* Label ko bold karne ke liye */
    color: #13023c;
 
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1a1a2e;
  padding: 2px 2px;
  margin-top: 480px;
  height: 30px;
  width: 100%;
  color: aliceblue;
  font-size: 1.3rem;
  background:  #00204a;
 
}
